<!DOCTYPE html>
<html>
<head>
    <title>ToDoリスト</title>
</head>
<body>
  <header>
    <h1>ToDoリスト</h1>
  </header>
    <div style="float: right; width: 50%;">
      <h2>新しいタスクの追加</h2>
      <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="task_name" placeholder="タスク名" required>
        <button type="submit">追加</button>

      <h2>タスク一覧</h2>
      <ul>
        <li>タスク1</li>
        <li>タスク2</li>
        <li>タスク3</li>
      </ul>
      </form>
    </div>
    <div style="float: left; width: 50%;">
      <h1>左</h1>
    </div>
</body>
</html>
